h1 {
	font-family:Verdana;
	text-align: center;
	font-size: 72px;
}
p {
	font-family:Arial;
	text-align: center;
	font-size:25px;
}
.arial {
	font-family:Arial;
}
.verdana {
	font-family:Verdana;
}
.georgia {
	font-family:Georgia;
}
.timesnewroman {
	font-family:Times New Roman;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.bglightgray {
	background: #CACACA;
}
.bgblack {
	background: #000000;
	color:white;
}
.bgwhite {
	background: #ffffff;
	color:black;
}
.courier {
	font-family: Courier;
}
.couriernew {
	font-family: Courier New;
}
.fontgreen {
	color: #00FF00;
}
.bgBUP {
	background: #FDE7AE;
}
.aligncenter {
	float:right;
	position:relative;
	left:50%;
}
h2 {
	font-size:40px;
}
.margin {
	width:900px;
	margin:auto;
	
}
.big {
	font-size: 30px;
}
.btn {
  background-color: #FDE7AE;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}
.bgOther {
	background: #89E9FF;
}
