body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("img/background/background.png");
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
.logobox {
  height: 162px;
  padding: 8px;
  text-align: center;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}
@font-face {
   font-family: gothic;
   src: url(gothic.ttf);
}
h1 {
	font-family:gothic;
	text-align: center;
	font-size: 72px;
      	color: white;
}
p {
	font-family:gothic;
	text-align: center;
	font-size:25px;
}
h2 {
	font-family:gothic;
	font-size:40px;
   	color: white;
}
h3 {
	font-family:gothic;
	font-size:95;
   	color: white;
}
a {
	font-family:gothic;
    	color: white;
}
p {
	font-family:gothic;
      	color: white;
}
.arial {
	font-family:Arial;
}
.plok {
	font-family:plok;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.aligncenter {
	float:right;
	position:relative;
	left:50%;
}
.margin {
	width:900px;
	margin:auto;
	
}
.big {
	font-size: 30px;
}
th {
	font-weight: bold;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border: 1px solid black;
	border-radius: 4px;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	background: #ffffff;
}

td, th {
	font-family: gothic;
	border-radius: 4px;
}

tr:hover td {
    background-color: #1affa3;
}

.run-link {
	text-transform: none;
	text-decoration: underline;
	font-family: gothic;
}
.btn {
  background-color: #ffffff;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
  border: 1px solid Black;
  border-radius: 4px;
}
.curry {
  background-color: #1affa3;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 4px;
}
.curry:hover {
  background-color: #1affa3;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 4px;
}
.btn:hover {
  background-color: #1affa3;
  color: white;
  border: 1px solid  white;
  border-radius: 15px;
}
iframe {
  border-radius: 15px;

}
table {
  border-radius: 15px;
  align: center;
  margin-left: auto;
  margin-right: auto;

}
.seis {
	position: fixed;
	text-align:center;
}
.linkbox {
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid White;
  border-left: 1px solid White;
  border-top: 1px solid White;
}
.btnbox {
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid White;
  border-left: 1px solid White;
  border-top: 1px solid White;
}
.lowerbox {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid White;
  flex: 1;
}
