.gamename {
	font-size: 68px;
}
a {
	color:white;
}
.board {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid White;
	width: 55%;
	margin-left: 22.5%;
}
.neko {
	background-color: rgba(0,0,0,0.5);
	border-left: 1px solid White;
	border-right: 1px solid White;
	border-top: 1px solid White;
	width: 55%;
	margin-left: 22.5%;
}
th {
	font-weight: bold;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border-top: 1px solid White;
	border-radius: 0px;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	background: rgba(255,255,255,0);
	border-top: 1px solid White;
}

td, th {
	font-family: gothic;
	border-radius: 0px;
	color:white;
}

tr:hover td {
    background-color: #FFFFFF;
	color: black;
}
table {
	width: 100%
}
