@font-face {
   font-family: gothic;
   src: url(../gothic.ttf);
}
h1 {
	font-family:gothic;
	text-align: center;
	font-size: 72px;
      	color: white;
}
p {
	font-family:gothic;
	text-align: center;
	font-size:25px;
      	color: black;
}
h2 {
	font-family:gothic;
	font-size:40px;
      	color: black;
}
h3 {
	font-family:gothic;
	font-size:95;
   	color: white;
}
a {
	font-family:gothic;
    	color: white;
	text-decoration: none;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.margin {
	width:900px;
	margin:auto;
}
.btn {
  background-color: #ffffff;
  border: black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
  border: 1px solid Black;
  border-radius: 4px;
}

.btn:hover {
  background-color: #1affa3;
  border: white;
  color: white;
  border: 1px solid  white;
  border-radius: 15px;
}
body {
	margin: 0;
	background-image: url("muumer.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.koko {
	width: auto;
	height: 298px;
}
.loota {
	background-color: rgba(0, 0, 0, 0.4);
	height:auto;
	width: auto;
	border: 2px solid white;
	margin: 30px;
	padding: 10px;
	border-radius: 15px;
}
.missing {
  	filter: grayscale(100%);
}
img {
	border-radius: 4px;
	border: 2px solid white;
}
